{% extends 'base_db.html' %}

{% block headscript %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
{% endblock headscript %}

{% block main %}
<script>
    $(function () {
        $("#datepicker1").datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '이전 달',
            nextText: '다음 달',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            showMonthAfterYear: true,
            changeMonth: true,
            changeYear: true,
            yearSuffix: '년'
        });
    });
</script>
<script>
    function ck_age() {
        var year = parseInt(new Date().getFullYear());
        var age = document.getElementsByName('burth');
        var ck = parseInt(age[0].value.substr(0, 4));
        form.age.value = (year - ck) + 1; // 우리나라 나이 표시 +1 더함
    }
</script>
<form class="ui form stacked segments" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ui segment">
        <h4 class="ui dividing header">구조자 인적사항</h4>
        <div class="three fields">
            <div class="field">
                <label>이름</label>
                <input type="text" name="name" maxlength="6" required/>
            </div>
            <div class="four wide field">
                <label>생년월일</label>
                <input type="date" name="burth" id="datepicker1" placeholder="0000-00-00" onblur="ck_age()"/>
            </div>
            <div class="two wide field">
                <label>나이</label>
                <input type="number" name="age" onclick="ck_age()"/>
            </div>
        </div>

        <div class="field">
            <label>연락처</label>
            <input type="text" name="phone" maxlength="11" id="id_phone" placeholder="'-'없이 입력하세요 ex) 01012341234"/>
        </div>
        <div class="field">
            <label>주소</label>
            <input type="text" name="address" maxlength="40"/>
        </div>
        <h4 class="ui dividing header">구조 정보</h4>
        <div class="field">
            <label>사고위치</label>
            <input type="text" name="location" maxlength="10" required id="id_location"/>
        </div>
        <div class="field">
            <label for="id_symptom">증상:</label> <input type="text" name="symptom" maxlength="20" required
                                                       id="id_symptom"/>
        </div>
        <div class="field">
            <label>원인</label> <input type="text" name="cause" maxlength="30" required id="id_cause"/>
        </div>
        <div class="field">
            <label>구조 내용</label>
            <textarea name="content" cols="40" rows="10" required id="id_content"></textarea>
        </div>
        <div class="field">
            <label>이미지 첨부</label>
            <input type="file" name="files" id="id_files" multiple="multiple"/>
        </div>
    </div>
    <div class="ui clearing segment">

        <button class="ui primary right floated button" type="submit" value="Send">
            저장
        </button>

    </div>

</form>


{% endblock main %}

